<table>
  <tr class="header-row">
    <th (click)="sort('name')" class="sortable">Name</th>
    <th (click)="sort('type')" class="sortable">Type</th>
    <th>Operational</th>
    <th>Orbit Type</th>
    <th>Launch Date</th>
  </tr>
  <tr class="data-row" *ngFor="let sats of satellites">
    <!-- used the object data from app.component.ts to access properties of satellites array with dot notation -->
    <td>{{ sats.name }}</td>
    <td [class.warning]="sats.isSpaceDebris()">{{ sats.type }}</td>
    <td>{{ sats.operational }}</td>
    <td>{{ sats.orbitType }}</td>
    <td>{{ sats.operational }}</td>
  </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->
